https://towardsdatascience.com/python-and-google-apis-bd9b5a861edd

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
## How to set up API call

params = {
'key': 'AIzaSyAyTUcgbuwbey0p5n5q6BK-PMGHAoAgiJg',
'origins': '40.398585,-3.683520',
'destinations': '40.419643,-3.688804'
}
url ='https://maps.googleapis.com/maps/api/distancematrix/json?'
response = requests.get(url,params)
print(response.status_code == 200)
print(response.text)
result = json.loads(response.text)

True
{
   "destination_addresses" : [ "Calle de Alfonso XII, 0, 28001 Madrid, Spain" ],
   "origin_addresses" : [ "Calle de Alpedrete, 51, 28045 Madrid, Spain" ],
   "rows" : [
      {
         "elements" : [
            {
               "distance" : {
                  "text" : "3.0 km",
                  "value" : 3027
               },
               "duration" : {
                  "text" : "8 mins",
                  "value" : 497
               },
               "status" : "OK"
            }
         ]
      }
   ],
   "status" : "OK"
}

In [3]:
result['destination_addresses']

['Calle de Alfonso XII, 0, 28001 Madrid, Spain']

import geopandas as gpd
a = gpd.read_file("/path/to/your/doc.kml")


As a warning, this method is easy but sometimes you lose data (not all lines read in). 
Because it's so easy, I think it's at least worth a shot.

That code will load up your KML as a geopandas.GeoDataFrame; geopandas is a POWERFUL geospatial analysis library in Python. It eliminates your need for PostGIS; with a stack of geopandas, shapely (for geosptial ops), pysal (for advanced geospatial analytics), rasterio (raster analysis), datashader (visualize large datasets in milliseconds 
such as lidar) and fiona, you eliminate the need for ArcGIS or any other GIS tool.

In [ ]:
import geopandas as gpd
gdf = gpd.read_kml('Pizza Essentials in NY')
print (gdf)

In [16]:
import os
os.getcwd()
path =  os.getcwd()

'/Users/RoscoeBColtrane/Documents/NGA_SFD_FGCA/GoogleMaps'

In [29]:
from pykml import parser
import pandas as pd

filename='doc.kml'
with open(filename) as f:
    folder = parser.parse(f).getroot().Document.Folder

plnm=[]
cordi=[]
for pm in folder.Placemark:
    plnm1=pm.name
    plcs1=pm.Point.coordinates
    plnm.append(plnm1.text)
    cordi.append(plcs1.text)
    
db=pd.DataFrame()
db['place_name']=plnm
db['cordinates']=cordi

def dump(obj):
    for attr in dir(obj):
        if hasattr( obj, attr ):
            print( "obj.%s = %s" % (attr, getattr(obj, attr)))
#the kml output plnm1 and plcs1 are objects actually which can be viewed using the dump function from [SO](https://blender.stackexchange.com/questions/1879/is-it-possible-to-dump-an-objects-properties-and-methods)

db['Longitude'], db['Latitude'],db['value'] = zip(*db['cordinates'].apply(lambda x: x.split(',', 2)))

db

ModuleNotFoundError: No module named 'pykml'

In [2]:
!python --version

Python 3.7.4

In [3]:
!which python

/Users/RoscoeBColtrane/anaconda3/bin/python

In [4]:
dfNY = pd.read_csv("PizzaNY.csv")

In [5]:
dfNY.head()

,X,Y,Name,Comment,URL
0,-73.99324,40.70258,Grimaldi's Pizzeria,also coal fired. A descendant of Lombardi's pi...,https://www.google.com/maps/place/Grimaldi's+P...
1,-73.93488,40.79715,Patsy's Pizzeria,an OG joint in East Harlem. prolly the 4 pizze...,https://www.google.com/maps/place/Patsy's+Pizz...
2,-73.98130,40.59474,L&B Spumoni Gardens,"since 1939, the real deal ice cream of Italy.....",https://www.google.com/maps/place/L%26B+Spumon...
3,-73.99459,40.72301,Prince St. Pizza,NOLITA!!! nhood slice joint. reimagining of an...,https://www.google.com/maps/place/Prince+St.+P...
4,-73.88825,40.85421,Mario's Restaurant,Old style classic. Pizza is ordered Off-Menu!...,https://www.google.com/maps/place/Mario's/data...

In [8]:
dfNY.shape

(23, 5)

# DOHMH New York City Restaurant Inspection Results
This dataset provides restaurant inspections, violations, grades and adjudication information

https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j

In [9]:
rest = pd.read_csv("NYCrestaurants.csv")

In [10]:
rest.shape

(402043, 29)

In [11]:
rest.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,50061005,DIAMOND REEF,Brooklyn,1057,ATLANTIC AVE,11238,9177103926,American,09/27/2019,Violations were cited in the following area(s).,...,-73.956678161648,303,36.000000,22700.000000,3057892.0,3.020200e+09,BK69,NaN,NaN,NaN
1,41615115,EL NUEVO CARIDAD RESTAURANT,Manhattan,1618,ST NICHOLAS AVENUE,10040,2127811880,Spanish,07/30/2018,Violations were cited in the following area(s).,...,-73.929230693936,112,10.000000,27700.000000,1063864.0,1.021610e+09,MN35,NaN,NaN,NaN
2,50052857,AL-AQSA RESTAURANT,Bronx,2109,STARLING AVE,10462,7189047061,Bangladeshi,06/21/2018,Violations were cited in the following area(s).,...,03/27/2020,Cycle Inspection / Initial Inspection,40.836087,-73.854798,209.0,1.800000e+01,22200,2041210,2.039460e+09,BX46
3,50094666,KAPE'T TORTA,Queens,8313,QUEENS BLVD,11373,7188990240,Café/Coffee/Tea,10/02/2019,Violations were cited in the following area(s).,...,-73.879700416899,404,25.000000,47300.000000,4539828.0,4.015420e+09,QN29,NaN,NaN,NaN
4,50074487,PHO BAR,Manhattan,82,W 3RD ST,10012,2128033369,Vietnamese/Cambodian/Malaysia,10/10/2019,Violations were cited in the following area(s).,...,-73.998841807199,102,1.000000,6500.000000,1008674.0,1.005390e+09,MN23,NaN,NaN,NaN

In [12]:
subway = pd.read_csv("subwayEntrances.csv")

In [13]:
subway.shape

(1928, 5)

In [21]:
subway.head()

,OBJECTID,URL,NAME,the_geom,LINE
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,POINT (-73.86835600032798 40.84916900104506),2-5
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,POINT (-73.86821300022677 40.84912800131844),2-5
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT (-73.87349900050798 40.84122300105249),2-5
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT (-73.8728919997833 40.84145300067447),2-5
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,POINT (-73.87962300013866 40.84081500075867),2-5

In [23]:
# use regex to remove everything before and after '( )'
subway['the_geom']= subway['the_geom'].str.extract('.*\((.*)\).*')
subway.head()

,OBJECTID,URL,NAME,the_geom,LINE
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,-73.86835600032798 40.84916900104506,2-5
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,-73.86821300022677 40.84912800131844,2-5
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,-73.87349900050798 40.84122300105249,2-5
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,-73.8728919997833 40.84145300067447,2-5
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,-73.87962300013866 40.84081500075867,2-5

In [27]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in subway['the_geom']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lon
        lon.append(row.split(' ')[0])
        # Split the row by comma and append
        # everything after the comma to at
        lat.append(row.split(' ')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
subway['Y'] = lat
subway['X'] = lon

In [28]:
subway.head()

,OBJECTID,URL,NAME,the_geom,LINE,Y,X
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,-73.86835600032798 40.84916900104506,2-5,40.84916900104506,-73.86835600032798
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,-73.86821300022677 40.84912800131844,2-5,40.84912800131844,-73.86821300022677
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,-73.87349900050798 40.84122300105249,2-5,40.84122300105249,-73.87349900050798
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,-73.8728919997833 40.84145300067447,2-5,40.84145300067447,-73.8728919997833
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,-73.87962300013866 40.84081500075867,2-5,40.84081500075867,-73.87962300013866

In [29]:
subway = subway.drop('the_geom', 1)

In [30]:
subway.head()

,OBJECTID,URL,NAME,LINE,Y,X
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,2-5,40.84916900104506,-73.86835600032798
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,2-5,40.84912800131844,-73.86821300022677
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,2-5,40.84122300105249,-73.87349900050798
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,2-5,40.84145300067447,-73.8728919997833
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,2-5,40.84081500075867,-73.87962300013866

In [32]:
subway.to_csv('subwayEntrances.csv',sep='\t',encoding='utf-8')